@import "tailwindcss";

/* If using local font files */
@font-face {
  font-family: 'CaslonCP';
  src: url('/fonts/CaslonCP.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Aileron';
  src: url('/fonts/Aileron-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

:root {
  --font-caslon: 'CaslonCP', serif;
  --font-aileron: 'Aileron', sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-aileron);
  --font-serif: var(--font-caslon);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
      --font-outfit: 'Outfit', sans-serif;
  }
}

body {
  font-family: var(--font-outfit);
}
